**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/obj
**/logs
**/secrets.json
**/.env
**/.env.*
**/node_modules
**/npm-debug.log
**/Dockerfile*
**/docker-compose*
**/README*.md
**/CHANGELOG.md
**/SECURITY.md
**/.editorconfig
