{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost,1433;Database=MyCompanyDbDb;User Id=sa;Password=YOUR_SQL_PASSWORD;TrustServerCertificate=True;MultipleActiveResultSets=true"
  },
  "JwtSettings": {
    "Key": "YOUR_SECRET_JWT_KEY_MINIMUM_32_CHARACTERS_LONG_FOR_SECURITY",
    "AccessTokenMinutes": 15,
    "RefreshTokenDays": 7,
    "Issuer": "Acme",
    "Audience": "Acme.Api"
  },
  "Admin": {
    "Email": "admin@acme.com",
    "Password": "YourSecureAdminPassword123!"
  },
  "Logging": {
    "Seq": {
      "ApiKey": "YOUR_SEQ_API_KEY_IF_USING_AUTHENTICATION"
    }
  }
}
